.mission-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px 40px 60px;
  background: linear-gradient(to right, #f5fff8, #e0f7ed);
  border-radius: 20px;
  margin: 40px auto;
  max-width: 1100px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}
 
.mission-text {
  flex: 1;
  padding-right: 40px;
}
 
.mission-text h2 {
  font-size: 32px;
  color: #0f6e40;
  margin-bottom: 40px;
}

.mission-text ul {
  text-align: left;
  margin-bottom: 40px;
}
 
.mission-text li {
  font-size: 17px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
  text-align: left;
}
 
.mission-icon {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.mission-icon svg {
  font-size: 160px;
  color: #0f6e40;
}

.read-more-btn {
    background-color: #0f6e40;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
  }
   
.read-more-btn:hover {
    background-color: #1bc76b;
  }

@media (max-width: 768px) {
  .mission-section {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }

  .mission-text {
    padding: 0;
    width: 100%;
  }

  .mission-text h2 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
  }

  .mission-text ul {
    margin: 0 auto 20px auto;
    padding: 0;
    list-style: none;
  }

  .mission-text li {
    font-size: 16px;
    margin-bottom: 12px;
    text-align: center;
  }

  .mission-icon {
    margin-top: 20px;
  }

  .mission-icon svg {
    font-size: 100px;
  }

  .read-more-btn {
    display: inline-block;
    font-size: 16px;
    padding: 0.5rem 1.2rem;
  }
}